
@media screen and (max-width:500px){
#q{
  color:black;
  font-size: 70px;
}
}

#a{
  background-color: red;
  padding:30px;
  font-weight: bold;
  padding-bottom: 100px;
}
.hj{
  font-size: 28px;
  color: black;
  margin-top:20px;
  padding-left:20%;
  padding-right:20%;
  text-align: center;
  padding-top:5%;
}
#q{
  color: white;
  font-size: 50px;
}
em{
  font-size: 22px;
}
#a3{
  padding:60px;
}
.k1{
  padding-bottom: 20px;
  font-size: 42px;
}
.k2{
  font-size: 27px;
}
.k{
  text-align: center;
}
.card{
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 5%;
  text-align: center;
}
.l{
  color:white;
  font-size: 40px;
}
.btn-block{
  margin-top:10px;
}
.d-block{
  margin-top: 30px;
  padding-bottom:1%;
  margin-bottom: 10px;
  border-radius:100%;
  padding-left: 37%;
  padding-right: 37%;

}
em{
  color:white
}
.carousel-item{
  height: 540px;
}

.dde:hover{
  color:pink;
}
#a6{
  background-color: red;
}
p{
  font-size: 15px;
}
#e{
  padding-left: 30px;
}
#a4{
  padding-top: 70px;
  padding-bottom:40px;
}
.dde{
font-size: 60px;
color: red;
}
.d{
  color:white;
  font-size: 300px;
}
.hu{
  padding-left:50px;
  pading-right:50px;
}
.row{
  padding-top: 30px;
}
.navbar-item{
  padding-right:45px;
}
.rotated{

}

#ab{
  color:white;
  line-height: 70px;
  font-size: 50px;
  font-weight: bold;
}
.h1{
  padding-left:  28px;
}
.j1{
  padding-top:40px;
}
.header{
  font-size: 45px;
}
.b{
  margin-right:15px;
  margin-top: 15px;
}
.box{
  background-color: red;
}
.navbar-brand{
  font-size: 30px;
}
.navbar-nav{
  padding-right: 50px;
  font-size: 17px;
}
.fa-apple{
   padding-right: 5px;
}
.fa-google-play{
  padding-right: 5px;
}
.hh{
  padding-bottom: 10px;
  text-align: center;
}
.dd{
  text-align: center;
}

@media screen and (max-width:500px){
#q{
  color:white;
  font-size: 24px;
}
.navbar-brand{
  font-size: 14px;
}
.navbar-nav{
  font-size:10px;
}
#ab{
  font-size: 20px;
}
.btn{
  font-size: 8px;
}
.d{
  color:white;
  font-size: 125px;
  padding-left: 50px;
  padding-top: 20px;
}
.dd{
  font-size:50px;
}
.lp{
  font-size:22px;
}
.hj{
  color: black;
  font-size: 20px;
}
.l{
  color:white;
  font-size: 20px;
}
.d-block{
  padding-bottom: 60px;
  width:50px;
  padding-top: 60px;
}
em{
  color: white;
}
.carousel-inner{
  height:380px;
}
.k1{
  font-size: 30px;
}
.k2{
  font-size: 15px;
}
.bo{
  font-size: 5px;
}
.k{
  font-size:25px;
}
}
